@{
    ViewBag.Title = "Search";
}
@using webtekno.Models.Entity
@model List<personelbilgi>


<!DOCTYPE html>
<html>
<head>
    <title>Personel Bilgi Otomasyonu</title>
    <link href="~/Content/style.css" rel="stylesheet">
</head>
<body>
    <h1>Personel Bilgi Sorgulama</h1>
    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
            {
                <p>
                    Aranacak Çalışan Adı: @Html.TextBox("p")
                    <input type="submit" value="ara" />
                </p>
            }
    <h2>Personel Bilgileri</h2>
    <table id="patientTable">
        <tr>
            <th>Personel No</th>
            <th>İsim</th>
            <th>Yaş</th>
            <th>Departman</th>
            <th>Unvan</th>
            <th>Tecrübe Yılı</th>
            <th>Fotoğraf</th>
        </tr>
        <tbody>
            @foreach (var ktgr in Model)
            {
                <tr>
                    <td>@ktgr.meslekid</td>
                    <td>@ktgr.ad</td>
                    <td>@ktgr.yas </td>
                    <td>@ktgr.departman</td>
                    <td>@ktgr.mevki</td>
                    <td>@ktgr.tecrube</td>
                    <td>
                        @if (!string.IsNullOrEmpty(ktgr.Photo))
                        {
                            <img src="@Url.Action("GetImage", "Home", new { imageName = ktgr.Photo })" alt="Fotoğraf" style="width:100px; height:auto;" />
                        }
                        else
                        {
                            <span>Fotoğraf yok</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>